body {
  width: 100%;

  padding: 0;
  margin: 0;

  -webkit-app-region: drag;

  overflow-y: hidden;
}

video {
  height: 30vh;
}

#button-holder {
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: space-around;

  border-radius: 4px;
  background: white;
}

.button {
  -webkit-app-region: none;
  transition: all ease-in-out 0.1s;

  border-radius: 5px;

  display: flex;
  flex-flow: column;
  justify-content: center;

  height: 50px;
  width: 50px;
  margin: 10;
}

.button:hover {
  background: #d1d1d1;
  cursor: pointer;
}

.record-symbol {
  margin: auto;
  background: #f23d3d;

  border-radius: 100%;

  width: 25px;
  height: 25px;
}

#vidsrc {
  width: 500px;
}
